img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-top: 50px;
}

body {
    background-image: url("img/Cavern_background.jpg");

}

h4 {
    text-align: center;
    margin: auto;
    width: 500px;
    background-color: aqua;

}