img {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
}

body {
    background-image: url("img/Cavern_background.jpg");

}

h4 {
    display: flex;
    justify-content: center;
    width: 500px;
    background-color: aqua;

}